{% load svg %}

<el-dialog>
      <dialog id="modal-dialog-{{ modal_id }}" aria-labelledby="dialog-title" class="fixed inset-0 size-auto max-h-none max-w-none overflow-y-auto bg-transparent backdrop:bg-transparent">
            <el-dialog-backdrop class="fixed inset-0 bg-gray-500/75 transition-opacity data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in"></el-dialog-backdrop>

            <div tabindex="0" class="flex min-h-full items-center justify-center p-4 text-left focus:outline-none">
                <el-dialog-panel class="relative transform overflow-hidden rounded-lg w-md transition-all data-closed:translate-y-4 data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in data-closed:sm:translate-y-0 data-closed:sm:scale-95">
                    <div class="absolute top-0 right-0">
                          <button type="button" command="close" commandfor="modal-dialog-{{ modal_id }}" class="text-white p-4 focus:outline-1 focus:-outline-offset-4 focus:outline-dds-teal-400 focus-visible:outline-1 focus-visible:outline-dds-teal-400">
                            <span class="sr-only">Close</span>{% svg "projects/close" %}
                          </button>
                    </div>
                    {{ slot }}
                </el-dialog-panel>
            </div>
      </dialog>
</el-dialog>
