{% load widget_tweaks %}

<label for="{{ field.id_for_label }}" class="block text-lg font-medium text-gray-900 mb-2 {{ label_classes }}">{{ field.label }}</label>

<div class="flex items-baseline border border-gray-600 rounded-xs bg-white py-3 text-lg text-gray-900 focus-within:border-dds-teal-600 focus-within:outline-4 focus-within:outline-dds-teal-400">
    {% render_field field|append_attr:"hx-on:input changed once -> this.setAttribute('hx-morph-skip','true')" hx-get=row_url hx-params="none" hx-swap="innerMorph" hx-target="#guide" hx-trigger="focus" data-1p-ignore="" class+="w-full flex-grow block px-4 outline-none placeholder:text-gray-400" class+=input_classes %}

    {% if form.initial.field.unit == '$' or form.instance.field.unit == '$' %}
        <span class="order-first pl-5 shrink-0 text-gray-600 select-none">$</span>
    {% elif form.initial.field.unit or form.instance.field.unit %}
        <span class="pr-5 shrink-0 text-gray-600 select-none">{% firstof form.initial.field.unit form.instance.field.unit %}</span>
    {% endif %}
</div>

{% for error in field.errors %}
    <p class="text-red-700 {{ error_classes }}">{{ error }}</p>
{% endfor %}
