{% load widget_tweaks svg %}

<label for="{{ field.id_for_label }}" class="block text-lg font-medium text-gray-900 mb-2 {{label_classes}}">{{ field.label }}</label>
<div class="grid grid-cols-1">
    {% render_field field|append_attr:"hx-on:input changed once -> this.setAttribute('hx-morph-skip','true')" hx-get=row_url hx-params="none" hx-swap="innerMorph" hx-target="#guide" hx-trigger="focus" class+="col-start-1 row-start-1 appearance-none pl-4 pr-12 py-3 border border-gray-600 rounded-xs bg-white text-lg text-gray-900 focus:border-dds-teal-600 focus:outline-4 focus:outline-dds-teal-400 placeholder:text-gray-400 {{ input_classes }}" %}
    {% svg "projects/chevron_down" class="pointer-events-none col-start-1 row-start-1 mr-4 size-4 self-center justify-self-end fill-dds-teal-600" %}
</div>
{% for error in field.errors %}
    <p class="text-red-700 {{ error_classes }}">{{ error }}</p>
{% endfor %}
