{% extends "base.html" %}
{% load static i18n svg %}
{% block main %}
{% include "_statewide_header.html" %}

<div class="min-h-full bg-gray-100">
    {% include "_header_nav.html" %}

    <header class="mx-auto max-w-7xl py-6 px-6 lg:px-8">
        <div class="space-y-2">
            <p class="mt-4 uppercase text-base font-light text-pretty text-dds-teal-700">Welcome, {% if user.get_short_name != "" %}{{ user.get_short_name }}{% endif %}</p>
            <h2 class="mt-4 text-4xl font-bold tracking-tight text-dds-teal-950">Start a new benefit-cost project</h2>
            <p class="text-base font-light text-pretty text-gray-700">
                Choose the Cal B/C model that matches your project type. Each model is tailored to a specific mode and uses California state-average defaults where applicable.
            </p>
        </div>
    </header>

    <div class="mx-auto max-w-7xl py-6 px-6 lg:px-8">
        <ul role="list" class="grid grid-cols-1 grid-flow-row gap-6 sm:grid-cols-2 lg:grid-cols-3">
        {% for model in model_list %}
            {% with model.latest_version as version %}
                {% if version %}
                <li class="divide-y divide-gray-200 border border-gray-200 rounded-lg bg-white p-6">
                    <p class="text-2xl text-left font-bold text-dds-teal-950">{{ version }}</p>
                    <div class="space-y-6 mt-2">
                        <p class="text-sm text-left font-light text-pretty text-gray-700">Best for early-stage highway or transit projects where detailed model data isn't available. It uses simplified inputs and rule-of-thumb methods to quickly estimate benefits.</p>
                        <div class="flex items-center space-x-2">
                            <span class="inline-flex shrink-0 items-center px-2 py-1 border border-gray-200 rounded-full bg-gray-100 text-xs font-medium text-dds-teal-950">Highway</span>
                            <span class="inline-flex shrink-0 items-center px-2 py-1 border border-gray-200 rounded-full bg-gray-100 text-xs font-medium text-dds-teal-950">Transit</span>
                        </div>
                        {% if version.has_form_link %}
                            <form method="post" action="{% url 'model_project_new' model.id version.id %}">
                                {% csrf_token %}
                                <button type="submit">
                                    <div class="flex items-center gap-2 rounded-md bg-dds-teal-600 px-3 py-2 text-md font-medium text-white shadow hover:shadow-inner hover:text-gray-200 focus:ring-offset-0 focus:ring-dds-teal-400 focus-visible:outline-dds-teal-400">
                                        <span>Start project</span>{% svg 'projects/arrow_forward' %}
                                    </div>
                                </button>
                            </form>
                        {% else %}
                            <a href="{{ version.url }}" download class="flex items-center gap-2 font-semibold text-md text-dds-teal-600 rounded-md hover:text-dds-teal-700 focus:ring-offset-0 focus:ring-dds-teal-400 focus-visible:outline-dds-teal-400">
                                {% svg 'projects/download' %}<span>Download Excel</span>
                            </a>
                        {% endif %}
                    </div>
                </li>
                {% endif %}
            {% endwith %}
        {% endfor %}
        </ul>
    </div>
</div>

{% include "_footer.html" %}
{% endblock %}
