{% extends "_header_nav.html" %}
{% load static svg %}
{% block project_nav %}
    <el-dropdown class="w-[450px] hidden md:inline-block">
      <button class="inline-flex w-full justify-between gap-x-1.5 rounded-xs text-white text-lg border border-solid border-gray-500 px-4 py-2">
        <div>
          {{ subsection.section.code }}{{ subsection.code }} <span class="px-1">-</span> {{ subsection.name }}
        </div>
        {% svg "projects/chevron_down" class="pointer-events-none col-start-1 row-start-1 size-6 self-center justify-self-end fill-dds-teal-500" %}
      </button>

      <el-menu anchor="bottom end" popover class="w-(--button-width) origin-top-right rounded-xs bg-white text-md shadow-lg outline-1 outline-black/5 transition transition-discrete [--anchor-gap:--spacing(0.25)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
        {% for section_option in subsection.section.version.section_set.all %}
        <div class="font-bold block px-4 py-3 text-gray-700 underline focus:bg-gray-100 focus:text-gray-900 focus:outline-hidden">Section {{section_option.code}}: {{ section_option.name }}</div>
          {% for subsection_option in section_option.subsection_set.all %}
          <a href="{% url 'project_subsection_edit' project.id subsection_option.id %}" class="{% if subsection_option.id == subsection.id %}font-bold border-l-4 border-dds-teal-600{% else %}pl-5{% endif %} block px-4 py-3 text-gray focus:bg-gray-100 focus:text-gray-900 focus:outline-hidden">{{ subsection_option.section.code }}{{ subsection_option.code }}. {{ subsection_option.name }}</a>
          {% endfor %}
        {% endfor %}
      </el-menu>
    </el-dropdown>
{% endblock %}
