{% load svg %}
<nav class="h-20 bg-dds-teal-950 text-white">
    <div aria-label="Logos" class="mx-auto max-w-7xl pt-2 px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
            <div class="flex items-center space-x-3">
                <a href="{% url 'projects' %}" class="p-1 flex items-center focus:ring-offset-0 focus:ring-dds-teal-400 focus-visible:outline-dds-teal-400">
                    <span class="sr-only">Projects</span>
                    {% svg 'shared/cal_bc_logo' alt="Cal-B/C" class="h-8 w-auto" %}
                </a>
                <span class="h-10 border-r-1 border-gray-500 border-dashed"></span>
                <a target="_blank" rel="noopener noreferrer" href="https://ca.gov" class="p-1 focus:ring-offset-0 focus:ring-dds-teal-400 focus-visible:outline-dds-teal-400">
                    <span class="sr-only">State of California</span>
                    {% svg 'shared/ca_gov_logo' alt="CA" class="h-6 w-auto" %}
                </a>
                <a target="_blank" href="https://dot.ca.gov" class="p-1 focus:ring-offset-0 focus:ring-dds-teal-400 focus-visible:outline-dds-teal-400">
                    <span class="sr-only">California Department of Transportation</span>
                    {% svg 'shared/caltrans_logo' alt="Caltrans" class="h-8 w-auto" %}
                </a>
                <span class="p-1">
                    <span class="sr-only">Data and Digital Services</span>
                    {% svg 'shared/dds_logo' alt="DDS" class="h-8 w-auto" %}
                </span>
            </div>
            {% block project_nav %}{% endblock %}
            {% include "_user_menu.html" %}
        </div>
    </div>
</nav>
