{% load svg %}
<nav class="h-20 bg-linear-to-r from-dds-teal-700 to-dds-teal-500 text-white">
    <div class="mx-auto max-w-7xl pt-2 px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
            <div>
                <a href="{% url 'projects' %}">
                    {% svg 'projects/cal_bc' class="h-8" %}
                </a>
            </div>
            <div>
                {% include "_user_menu.html" %}
            </div>
        </div>
    </div>
</nav>
