{% load svg %}
<div class="bg-cal-state-bgd z-100">
    <div class="px-6 py-1 mx-auto max-w-7xl flex items-center space-x-2 lg:px-8">
        <a target="_blank" rel="noopener noreferrer" href="https://ca.gov">
            <span class="sr-only">State of California</span>
            {% svg 'shared/cagov_logo' alt="CA" class="h-8" %}
        </a>
        <h1 class="text-sm/6 inline">
            <span class="hidden sm:inline">Official website of the</span>
            State of California
        </h1>
    </div>
</div>

