{% load svg %}
<div class="absolute right-0 flex items-center pr-4 sm:pr-6 lg:static lg:ml-6 lg:pr-0">
    <el-dropdown class="relative ml-3">
        <button class="relative flex rounded-full focus:ring-offset-0 focus:ring-dds-teal-400 focus-visible:outline-dds-teal-400">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">Open user menu</span>
            <div class="h-11 w-11 font-bold text-dds-teal-950 rounded-full bg-yellow-500 flex items-center text-2xl justify-center">{{ user.get_username|make_list|first|upper }}</div>
        </button>

        <el-menu anchor="bottom end" popover class="text-lg w-75 py-4 border-1 border-gray-200 origin-top-right rounded-lg bg-white shadow-lg outline outline-black/5 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
            {% if user.get_full_name %}
                <div class="block px-4 text-gray-700 font-bold focus:bg-gray-100 focus:outline-hidden">{{ user.get_full_name }}</div>
            {% endif %}
            <div class="text-block border-b-1 border-gray-200 px-4 pb-4 text-gray-700 focus:bg-gray-100 focus:outline-hidden">{{ user.get_username }}</div>
            <form method="post" action="{% url 'logout' %}" class="px-4 mt-4">
                {% csrf_token %}
                <button type="submit" class="flex items-center text-dds-teal-600 pr-1 cursor-pointer hover:text-dds-teal-700 focus:ring-offset-0 focus:ring-dds-teal-400 focus-visible:outline-dds-teal-400">
                    {% svg "projects/logout" class="mr-2 size-6" %}
                    <span>Sign out</span>
                </button>
            </form>
        </el-menu>
    </el-dropdown>
</div>
