@import "tailwindcss";
@import "./typography";

@theme {
  --font-sans: "Public Sans", sans-serif;
  --color-primary-01: #162933;
  --color-primary-02: #00b2a9;
  --color-primary-03: #b1e4e3;
  --color-primary-04: #ffb81c;
  --color-primary-05: #4b4f54;
  --color-primary-06: #d9d9d6;

  --color-dds-green-100: #e5f7f6;
  --color-dds-green-200: #ccf0ee;
  --color-dds-green-300: #80d9d4;
  --color-dds-green-400: #40c5bf;
  --color-dds-green-500: #00b2a9;
  --color-dds-green-600: #008675;
  --color-dds-green-700: #006747;
}
