@import "tailwindcss";
@import "./typography";

@theme {
  --font-sans: "Public Sans", sans-serif;

  --color-dds-teal-100: #e5fffc;
  --color-dds-teal-200: #cbf1f1;
  --color-dds-teal-300: #b1e4e3;
  --color-dds-teal-400: #72cbc7;
  --color-dds-teal-500: #00b2a9;
  --color-dds-teal-600: #027c76;
  --color-dds-teal-700: #004a46;
}
