{% load static widget_tweaks svg define find_formset_field humanize %}

{% partialdef subsection-header %}
    <h1 class="text-4xl font-bold tracking-tight text-dds-teal-950">{{ subsection.section.code }}{{ subsection.code }}. {{ subsection.name }}</h1>
    {% if subsection.description %}<p class="mt-1 text-lg/8 font-light text-gray-700">{{ subsection.description }}</p>{% endif %}
{% endpartialdef %}

{% partialdef group-header %}
    <h2 class="mt-16 text-3xl font-semibold text-gray-900">{{ group.name }}</h2>
    {% if group.description %}<p class="mt-1 text-lg/8 font-light text-gray-700">{{ group.description }}</p>{% endif %}
{% endpartialdef %}

{% partialdef form-cell--new %}
    {% if field.read_only %}
        {% with object.value_set.all|find_valueset_field:field as value %}
            <div>
                <c-value-read-only blank="" field=field value=value />
            </div>
        {% endwith %}
    {% else %}
        {% with formset|find_formset_field:field as form %}
            {% if form %}
                <div>
                    {% url 'model_version_section_subsection_group_row_guide' model_pk=row.group.subsection.section.version.model.pk version_pk=row.group.subsection.section.version.pk section_pk=row.group.subsection.section.pk subsection_pk=row.group.subsection.pk group_pk=row.group.pk pk=row.pk as row_url %}
                    {{ form.id }}
                    {{ form.field }}
                    {% for field in form.visible_fields %}
                        {% if field.widget_type == 'select' %}
                            <c-value-select
                                form=form
                                field=field
                                input_error_classes="{% if form.errors %} border-red-700 focus:border-red-700 focus:outline-red-400 {% endif %}"
                            />
                        {% else %}
                            <c-value-textbox
                                form=form
                                field=field
                                input_error_classes="{% if form.errors %} border-red-700 focus-within:border-red-700 focus-within:outline-red-400 {% endif %}"
                            />
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    {% endif %}
{% endpartialdef %}

{{ formset.management_form }}
{{ formset.non_form_errors }}

{% partial subsection-header %}

{% for group in subsection.summary_group_set.all %}
    {% for row in group.non_table_row_set.all %}
    <div class="flex space-x-0.5 mt-12">
        {% for field in row.field_set.all %}
        <dl class="flex-1 flex flex-col max-w-sm justify-between bg-white rounded-sm px-5 py-6 text-dds-teal-950">
            <dt class="text-sm uppercase">{{ field.name }}</dt>
            <dd class="flex font-bold text-2xl">
                {% with object.value_set.all|find_valueset_field:field as value %}
                <c-value-read-only-value blank="-" />
                {% endwith %}
            </dd>
        </dl>
        {% endfor %}
    </div>
    {% endfor %}
{% endfor %}

{% for group in subsection.non_summary_group_set.all %}
    {% partial group-header %}

    {% if subsection.column_count > 3 or subsection.summary_group_set.count > 0 and group.guide %}
    <c-modal-dialog modal_id="group-guide">
        {% include "groups/guides/_guide.html" %}
    </c-modal-dialog>
    <button type="button" command="show-modal" commandfor="modal-dialog-group-guide" class="cursor-pointer flex text-lg font-semibold text-dds-teal-600 hover:shadow-[inset_0_0_200px_0_rgba(0,0,0,0.10)] focus:outline-4 focus:ring-offset-0 focus:ring-dds-teal-400 focus-visible:outline-dds-teal-400"><div class="pr-1">{% svg "projects/guide" %}</div><span>Show Guide</span></button>
    {% endif %}

    <div class="space-y-6 mt-6">
        {% for row in group.non_table_row_set.all %}
            {% if row.field_set.count == 1 %}
            <div class="grid grid-cols-2 gap-6">
            {% else %}
            <div class="grid grid-cols-{{ row.field_set.count }} gap-6">
            {% endif %}
            {% with show_errors="True" %}
                {% for field in row.field_set.all %}
                    {% partial form-cell--new %}
                {% endfor %}
            {% endwith %}
            </div>
        {% endfor %}

        {% if group.table_row_set.count > 0 %}
            <div class="grid {% if subsection.column_count < 6 %}grid-cols-{{ subsection.column_count|add:1 }}{% else %}grid-cols-[50px_repeat({{ subsection.column_count }},minmax(0,1fr))]{% endif %} gap-3 items-baseline-last">
                <div></div>
                {% for column_group in group.columngroup_set.all %}
                    {% if column_group.name %}
                    <div class="col-span-{{ column_group.column_set.count }} text-center uppercase text-lg font-semibold text-gray-900 border-b border-gray-900/50">
                        {{ column_group.name }}
                    </div>
                    {% else %}
                    <div class="col-span-{{ column_group.column_set.count }}"></div>
                    {% endif %}
                {% endfor %}

                <div></div>
                {% for column_group in group.columngroup_set.all %}
                    {% for column in column_group.column_set.all %}
                    <div class="text-center text-base font-semibold text-gray-900">{{column.name}}</div>
                    {% endfor %}
                {% endfor %}
            </div>

            <div class="grid {% if subsection.column_count < 6 %}grid-cols-{{ subsection.column_count|add:1 }}{% else %}grid-cols-[50px_repeat({{ subsection.column_count }},minmax(0,1fr))]{% endif %} gap-x-3 items-baseline-last">
                {% for row in group.table_row_set.all %}
                    <div>{{ row.name }}{% if row.required %}<span class="text-red-700 ml-1">*</span>{% endif %}</div>
                    {% for column_group in group.columngroup_set.all %}
                        {% for column in column_group.column_set.all %}
                            {% with column.field_set.all|find_fieldset_row:row as field %}
                                {% if field %}
                                    {% with label_classes="sr-only" input_classes="text-center" %}
                                        {% partial form-cell--new %}
                                    {% endwith %}
                                {% else %}
                                    <div></div>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    {% endfor %}

                    {% with formset|find_formset_row_errors:row as errors %}
                        {% if errors %}
                            <div></div>
                            <div class="mt-1 mb-2 text-red-700 col-start-2 col-span-{{ subsection.column_count }} flex items-start">
                                {% svg 'projects/warning' alt="error" class="h-6 w-auto" %}<span class="ml-2">{{ errors }}</span>
                            </div>
                        {% else %}
                            <div></div>
                            <div class="mt-3 col-start-2 col-span-{{ subsection.column_count }}"></div>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endfor %}

{% for group in subsection.benefitsgroup_set.all %}
{% for row in group.benefitsrow_set.all %}
<div class="flex space-x-0.5 mt-12">
    {% for field in row.benefitsfield_set.all %}
    <dl class="flex-1 flex flex-col max-w-sm justify-between bg-white rounded-sm px-5 py-6 text-dds-teal-950">
        <dt class="text-sm uppercase">{{ field.name }}</dt>
        <dd class="flex font-bold text-2xl">
            {% with object.benefitsvalue_set.all|find_benefits_valueset_field:field as value %}
            <c-value-read-only-value blank="-" />
            {% endwith %}
        </dd>
    </dl>
    {% endfor %}
</div>
{% endfor %}
{% endfor %}
