{% load static widget_tweaks svg define find_formset_field humanize %}

{% partialdef subsection-header %}
    <h1 class="text-4xl font-bold tracking-tight text-dds-teal-950">{{ subsection.section.code }}{{ subsection.code }}. {{ subsection.name }}</h1>
    {% if subsection.description %}<p class="mt-1 text-lg/8 font-light text-gray-700">{{ subsection.description }}</p>{% endif %}
{% endpartialdef %}

{% partialdef group-header %}
    <h2 class="mt-16 text-3xl font-semibold text-gray-900">{{ group.name }}</h2>
    {% if group.description %}<p class="mt-1 text-lg/8 font-light text-gray-700">{{ group.description }}</p>{% endif %}
{% endpartialdef %}

{% partialdef form-cell--new %}
    {% with formset|find_formset_field:field as form %}
        {% if form %}
            <div>
                {% url 'model_version_section_subsection_group_row_guide' model_pk=row.group.subsection.section.version.model.pk version_pk=row.group.subsection.section.version.pk section_pk=row.group.subsection.section.pk subsection_pk=row.group.subsection.pk group_pk=row.group.pk pk=row.pk as row_url %}
                {{ form.id }}
                {{ form.field }}
                {% for field in form.visible_fields %}
                    {% if field.widget_type == 'select' %}
                        <c-value-select
                            form=form
                            field=field
                            has_errors="{{ form.errors.count > 0 }}"
                        />
                    {% else %}
                        <c-value-textbox
                            form=form
                            field=field
                            has_errors="{{ form.errors.count > 0 }}"
                        />
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            {% with object.value_set.all|find_valueset_field:field as value %}
                {% if value %}
                    <div>
                        <c-value-read-only field=field value=value />
                    </div>
                {% else %}
                    <div></div>
                {% endif %}
            {% endwith %}
        {% endif %}
    {% endwith %}
{% endpartialdef %}

{{ formset.management_form }}
{{ formset.non_form_errors }}

{% partial subsection-header %}

{% for group in subsection.summary_group_set.all %}
    {% for row in group.non_table_row_set.all %}
    <div class="flex space-x-0.5 mt-12">
        {% for field in row.field_set.all %}
            <div class="flex-1 flex flex-col justify-between bg-white rounded-sm px-5 py-6 text-dds-teal-950">
                <label id="summary-field--{{field.pk}}--name" class="text-sm uppercase">{{ field.name }}</label>
                <div aria-labelledby="summary-field--{{field.pk}}--name" class="flex font-bold text-2xl">
                    {% with object.value_set.all|find_valueset_field:field as value %}
                        <c-value-read-only-value blank="-" />
                    {% endwith %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% endfor %}
{% endfor %}

{% for group in subsection.non_summary_group_set.all %}
    {% partial group-header %}

    <div class="space-y-6 mt-6">
        {% for row in group.non_table_row_set.all %}
            {% if row.field_set.count == 1 %}
            <div class="grid grid-cols-2 gap-6">
            {% else %}
            <div class="grid grid-cols-{{ row.field_set.count }} gap-6">
            {% endif %}
                {% for field in row.field_set.all %}
                    {% partial form-cell--new %}
                {% endfor %}
            </div>
        {% endfor %}

        {% if group.table_row_set.count > 0 %}
            <div class="grid grid-cols-{{ subsection.column_count|add:1 }} gap-3 items-baseline-last">
                <div></div>
                {% for column_group in group.columngroup_set.all %}
                    {% if column_group.name %}
                    <div class="col-span-{{ column_group.column_set.count }} text-center uppercase text-lg font-semibold text-gray-900 border-b border-gray-900/50">
                        {{ column_group.name }}
                    </div>
                    {% else %}
                    <div class="col-span-{{ column_group.column_set.count }}"></div>
                    {% endif %}
                {% endfor %}

                <div></div>
                {% for column_group in group.columngroup_set.all %}
                    {% for column in column_group.column_set.all %}
                    <div class="text-center text-base font-semibold text-gray-900">{{column.name}}</div>
                    {% endfor %}
                {% endfor %}
            </div>

            <div class="grid grid-cols-{{ subsection.column_count|add:1 }} gap-3 items-baseline-last">
                {% for row in group.table_row_set.all %}
                    <div>{{ row.name }}</div>
                    {% for column_group in group.columngroup_set.all %}
                        {% for column in column_group.column_set.all %}
                            {% with column.field_set.all|find_fieldset_row:row as field %}
                                {% if field %}
                                    {% with label_classes="sr-only" error_classes="sr-only" input_classes="text-center" %}
                                        {% partial form-cell--new %}
                                    {% endwith %}
                                {% else %}
                                    <div></div>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endfor %}
