{% extends "base.html" %}
{% load svg %}
{% block main %}

<div class="min-h-full bg-gray-100 flex flex-col">
    {% include "projects/_header_nav.html" %}

    {% if messages %}
    <header class="relative">
        <div class="mx-auto max-w-7xl pt-4 px-6 lg:px-8">
            <div class="bg-dds-teal-100 border-l-4 border-dds-teal-700 rounded text-dds-teal-900 shadow-md min-w-md md:float-top md:float-right" role="alert">
                <div class="flex items-center p-2">
                    <div class="shrink-0">
                        {% svg 'projects/alert_resolved' class="h-8" %}
                    </div>
                    <div class="ml-3">
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endif %}

    <main class="grow">
        <form method="post" class="mx-auto max-w-7xl pt-16 pb-20 px-6 lg:px-8">
            {% csrf_token %}

            {% if subsection.column_count < 4 %}
            <div class="md:grid md:grid-cols-7 md:gap-4">
                <section class="md:col-span-4">
                    <div hx-ext="ws" hx-ws:connect="/ws{% url 'project_subsection' project_pk=object.pk pk=subsection.pk %}" hx-target="this" hx-swap="innerMorph">
                        {% include "projects/_form.html" with title="Edit Project" %}
                    </div>
                </section>
                <section class="md:block md:self-start md:sticky md:top-0 md:col-span-3">
                    <aside id="guide" hx-get="{% url 'model_version_section_subsection_guide' model_pk=subsection.section.version.model.pk version_pk=subsection.section.version.pk section_pk=subsection.section.pk pk=subsection.pk %}" hx-params="none" hx-swap="innerMorph" hx-trigger="load"></aside>
                </section>
            </div>
            {% else %}
            <section hx-ext="ws" hx-ws:connect="/ws{% url 'project_subsection' project_pk=object.pk pk=subsection.pk %}" hx-target="this" hx-swap="innerMorph">
                {% include "projects/_form.html" with title="Edit Project" %}
            </section>
            {% endif %}

            <div class="mt-12 pt-12 border-t border-gray-300 flex flex-row-reverse items-center justify-between gap-x-6">
                <div class="flex flex-row-reverse items-center justify-end gap-x-6">
                    {% if subsection.next_subsection %}
                        <button type="submit" name="step" value="next" hx-disable="this" class="rounded-md bg-dds-teal-600 px-7 py-3 text-lg font-semibold text-white shadow hover:shadow-inner hover:text-gray-200 focus:outline-4 focus:ring-offset-0 focus:ring-dds-teal-400 focus-visible:outline-dds-teal-400">Continue<span class="sr-only sm:not-sr-only"> to Subsection {{ subsection.next_subsection.section.code }}{{ subsection.next_subsection.code }}</span></button>
                    {% endif %}
                </div>
                <div class="flex items-center justify-end gap-x-6">
                    {% if subsection.previous_subsection %}
                        <button type="submit" name="step" value="previous" hx-disable="this" class="rounded-md bg-white px-7 py-3 text-lg font-semibold text-dds-teal-600 border-2 border-dds-teal-600 shadow hover:shadow-inner hover:bg-gray-200 focus:outline-4 focus:ring-offset-0 focus:ring-dds-teal-400 focus-visible:outline-dds-teal-400">Back<span class="sr-only sm:not-sr-only"> to Subsection {{ subsection.previous_subsection.section.code }}{{ subsection.previous_subsection.code }}</span></button>
                    {% endif %}
                    <button type="submit" name="step" value="current" hx-disable="this" class="rounded-md bg-white px-7 py-3 text-lg font-semibold text-dds-teal-600 border-2 border-dds-teal-600 shadow hover:shadow-inner hover:bg-gray-200 focus:outline-4 focus:ring-offset-0 focus:ring-dds-teal-400 focus-visible:outline-dds-teal-400">Save draft</button>
                </div>
            </div>
        </form>
    </main>

    {% include "_footer.html" %}
</div>
{% endblock %}
