{% extends "base.html" %}
{% block main %}
<div class="min-h-full">
    {% include "_header_nav.html" %}
    <header class="relative bg-primary-01 shadow dark:shadow-none dark:after:pointer-events-none dark:after:absolute dark:after:inset-x-0 dark:after:inset-y-0 dark:after:border-y dark:after:border-white/10">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h2 class="text-4xl font-bold tracking-tight text-gray-900 text-white">Project Data</h2>
        </div>
    </header>
    {% include "projects/_form.html" with title="Edit Project" %}
</div>
{% endblock %}
